

/*
  ##Dispositivo = Escritorios
  ##Pantalla = 1281px para escritorios de mayor resolución
*/

@media (min-width:1281px ) {
  
  .padre{
    background-color:rgb(108,117,125);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

  }
  .hijo{
    display: flex;
  justify-content: center;
 
}
}

/*
  ##Dispositivo = Laptops, Desktops
  ##Pantalla = B/N 1025px a 1280px
*/

@media (min-width:1025px ) and (max-width: 1280px ) {
  .padre{
   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

  }
  .hijo{
    display: flex;
  justify-content: center;

  
}
}
/*
  ##Dispositivo = Tabletas, Ipads (retrato)
  ##Pantalla = B/N 768px a 1024px
*/

@media (min-width:768px ) and (max-width: 1024px ) {
  .padre{
   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

  }
  .hijo{
    display: flex;
  justify-content: center;

  
}
}
/*
  ##Dispositivo = Tabletas, Ipads (horizontal)
  ##Pantalla = B/N 768px a 1024px
*/

@media (min-width:768px ) and (max-width: 1024px ) and ( orientation: landscape) {
  .padre{
   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

  }
  .hijo{
    display: flex;
  justify-content: center;

  
}
}
/*
  ##Dispositivo = Tabletas de baja resolución, Móviles (Horizontal)
  ##Pantalla = B/N 481px a 767px
*/

@media (min-width: 481px ) and (max-width:767px ) {
  
  .padre{
   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

  }
  .hijo{
    display: flex;
  justify-content: center;

}
}
/*
  ##Dispositivo = La mayoría de los Smartphones Móviles (Retrato)
  ##Pantalla = B/N 320px a 479px
*/

@media (min-width: 320px ) and (max-width: 480px ) and ( orientation: landscape) {
  .padre{
   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

  }
  .hijo{
    display: flex;
  justify-content: center;

}
} 
@media (min-width: 320px ) and (max-width: 480px ) {
  .padre{
   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

  }
  .hijo{
    display: flex;
  justify-content: center;}
  
  }